@{
    ViewData["Title"] = "Index";
}
@model List<Contact>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Mail</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var contact in Model)
    {
        <tr>
            <td>@contact.FirstName</td>
            <td>@contact.LastName</td>
            <td>@contact.Email</td>
            <td><a asp-action="Details" asp-route-id="@contact.Id" class="btn btn-primary">Détails</a></td>
        </tr>
    }
    </tbody>
</table>
